//
   Created by Boo on 14-Sep-14.

doctype html
html.bg-black
    head
        meta(charset="UTF-8")
        title AdminLTE | Log in
        meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name="viewport")
        // bootstrap 3.0.2
        link(href="/styles/bootstrap.min.css", rel="stylesheet", type="text/css")
        // font Awesome
        link(href="/styles/font-awesome.min.css", rel="stylesheet", type="text/css")
        // Theme style
        link(href="/styles/AdminLTE.css", rel="stylesheet", type="text/css")
        link(href="/styles/iCheck/all.css", rel="stylesheet", type="text/css")
        // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        // WARNING: Respond.js doesn't work if you view the page via file://
        //if lt IE 9
          script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
          script(src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js")
    body.bg-black
        #login-box.form-box
            .header Sign In
<<<<<<< HEAD
            form#login-form(action="/login", method="post")
                .body.bg-gray

                    .form-group
                        input#userid.form-control(type="text", name="userid", placeholder="User ID" value=userid)
                    .form-group
                        input#password.form-control(type="password", name="password", placeholder="Password")
                    - if (typeof(error) !== 'undefined'){
                        div.alert.alert-danger.alert-dismissable
                            i.fa.fa-ban
                            button.close(type='button', data-dismiss='alert', aria-hidden='true') x
                            b Alert!
                            =error
                    -}
                    .form-group
                        label
                            .icheckbox_flat-green.checked(aria-disabled="false", aria-checked="true", style="position: relative;")
=======
            form(action="/login", method="post")
                .body.bg-gray
                    .form-group
                        input.form-control(type="text", name="userid", placeholder="User ID")
                    .form-group
                        input.form-control(type="password", name="password", placeholder="Password")
                    .form-group
                        label
                            .icheckbox_flat-red.checked(aria-disabled="false", aria-checked="true", style="position: relative;")
>>>>>>> eedc7f85c219ee3c0b400a74d12ec26a698e6a72
                                input.flat-red(type="checkbox", name="remember_me", style="position: absolute; opacity: 0;", checked="")
                                ins.iCheck-helper(style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 0px none; opacity: 0;")
                            | Remember me
                .footer
<<<<<<< HEAD
                    button#login-btn.btn.bg-olive.btn-block Sign me in

        // jQuery
        script(src="/js/jquery.js")
        // Bootstrap
        script(src="/js/bootstrap.min.js", type="text/javascript")
        // jquery-validation
        script(src="/js/plugins/jquery-validation/jquery.validate.js", type="text/javascript")
        // view script
        script(src="/js/authentication/login.js", type="text/javascript")
=======
                    button.btn.bg-olive.btn-block(type="submit") Sign me in
                    .form-group
                        .alert.alert-danger.alert-dismissable
                            i.fa.fa-ban
                            button.close(type="button", data-dismiss="alert", aria-hidden="true") &#215;
                            b Alert!
                            | Danger alert preview. This alert is dismissable. A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
        // jQuery 2.0.2
        script(src="/js/jquery-2.1.1.min.js")
        // Bootstrap
        script(src="/js/bootstrap.min.js", type="text/javascript")
>>>>>>> eedc7f85c219ee3c0b400a74d12ec26a698e6a72
